<div style="
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
    max-height: 130px;
    padding: 0.5rem 2rem ;
    width: 580px;
    font-family: Inter, sans-serif;
    text-align: center;
    background: #B0D2C1;
    color: #191414;
  ">
  <p>Nous joindre</p>
</div>