<div
style="
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
    max-width: 580px;
    font-family: Inter, sans-serif;
    margin-left: 2px;
    background: #197D4B;
    color: #fff;
    padding: 2.5rem 2rem 1rem ;
    "
>
<h1>Code de confirmation</h1>
</div>